.menu_btn {
  margin-left: 3%;
  margin-top: 3%;
  transition: all 0.3s;
}


.menu_btn .menu_icon{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.menu_btn .menu_icon:hover{
  background-color: var(--accent-color);
  font-size: large;
}